.connector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container input {
  height: fit-content;
  width: fit-content;
}

.btn {
  background-color: #a970ff;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background-color: #7429e5;
}
