.chat-container {
  width: 300px;
  height: fit-content;
  background-color: #1F1F23;
  padding: 16px;
  border: 1px solid white;
}

.chat-container h5 {
  text-align: center;
}

.feed {
  background-color: #1F1F23;
  height: 40vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  border: 1px solid white;
}

p {
  margin: 8px 0;
}

.tchat-message {
  display: flex;
}

.message-content {
  margin-left: 12px;
}
