.chat-container {
  width: 300px;
  height: fit-content;
  background-color: lightgrey;
  padding: 16px;
}

.chat-container h5 {
  text-align: center;
}

.feed {
  background-color: white;
  height: 40vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  margin: 8px 0;
}
