.info {
  margin-left: 12px;
  position: relative;
}

.method-info {
  position: relative;
  padding: 10px 15px;
}

.info-card {
  position: absolute;
  top: -7px;
  left: 40px;
  width: 300px;
  padding: 8px;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.hidden {
  display: none;
}
